html, body {
  background: #EEEEEE;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 100%;
  font-family: sans-serif;
}

.container {
  width: 100%;
  height: 25%;
  margin: 2px auto;
  background: #FFFFFF;
  color: #111111;
  border-radius: 20px;
  text-align: center;
  overflow: auto;
  padding: 2%;
}

.output {
  width: 50%;
  height: 40%;
  margin: 10px auto;
  background: #DDDDDD;
  color: #111111;
  border-radius: 20px;
  font-size: 1.5rem;
  text-align: center;
  overflow: auto;
  padding: 2%;
}
